<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Atata" version="$Atata-version$" />
  <package id="Atata.WebDriverExtras" version="$Atata.WebDriverExtras-version$" />
  <package id="NUnit" version="$NUnit-version$" />
  <package id="NUnit3TestAdapter" version="$NUnit3TestAdapter-version$" />
  <package id="Selenium.Support" version="$Selenium.Support-version$" />
  <package id="Selenium.WebDriver" version="$Selenium.WebDriver-version$" />
</packages>